.page-wrapper {
  width: auto;
  padding: 0 80px;

  .back-link {
    margin: 20px 0;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
  }

  .btn-ghost {
    padding-top: 8px;
    margin: 10px 0;
    border-radius: 45px;
    font-weight: bold;
    color: #3b352a;
    opacity: 0.5;
    transition: opacity 0.23s ease;
    background: linear-gradient( #bab299, #c4bba0);
    transition: background 0.3s ease;
    border: 1px solid #9e9780;
  }

  .btn-ghost:hover {
    background: linear-gradient(#bbb6a4,#cac4ae);
    color: white;
  }

  .show-container {
    .show-image, .card-img {
      width: 40vw;
      height: 80vh;
      object-fit: cover;
    }
  
      .recipe-card, .dose-card {
      margin: 30px 0;
      }
    
      h3 {
      padding: 10px 0;
      font-size: 22px;
      }
    
      i {
        color:  #bab299;
        transform: scale(0.98);
        transition: all 0.1s ease-in-out;
      }
      i:hover {
        opacity: 1;
        transform: scale(1.01);
      }
    
      i.star {
        color: white;
      }
      .review-section {
        padding: 10px;
    
        .col-12 {
          padding: 0;
        }
    
        i {
          color:  #f8d879;
          font-size: 12px;
        }
      }
  }

}

